# 리스트(list)
### - 리스트 저장 형태
###### 배열은 아니지만 동일한 형태의 데이터를 담는 자료 구조.

In [2]:
a = ['홍길동', '강감찬', '이순신'] #대괄호 안에 동일한 형식의 데이터를 담고, 변수로 지정한다. R의 벡터같네요. 
print (a) 
print (type(a)) #list라고 부름.

['홍길동', '강감찬', '이순신']
<class 'list'>

In [6]:
#데이터 접근 
print (a[0])
print (a[1])
print (a[2])
# print (a[3]) IndexError  발생

홍길동
강감찬
이순신

In [12]:
#슬라이싱 기능
x = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print (x[0:5])
print (x[ :5]) # print (x[0:5])와 동일.
print (x[5: ])
print (x[3:6])
# print (x[3:6, 7]) TypeError.

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[4, 5, 6]

In [13]:
x = [1, 2, 3, 4, 5]
y = [6, 7, 8, 9, 10]
print (x + y) #숫자형 데이터의 더하기 되나요? 어떻게 리턴하나요? => 결합기능으로 동작.

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
#특정 위치에 있는 데이터를 변경
x = [1, 2, 3, 4, 5]
x[2] = 30 #index 2번 데이터 변경. 
print(x)
print (len(x))

[1, 2, 30, 4, 5]
5

In [15]:
#리스트에서 항목 삭제하기.
del x[2] #30삭제. 
print (x)

[1, 2, 4, 5]

In [16]:
# 리스트 끝에 데이터 추가
x = [1, 3, 5]
x.append(7)
print (x)

[1, 3, 5, 7]

In [17]:
#기존 리스트에 다른 리스트 이어 붙임. 
y = [9, 11, 13]
x.extend(y)
print (x)

[1, 3, 5, 7, 9, 11, 13]

In [21]:
# 첨자로 명시한 곳에 새 데이터 넣기. 
x.insert(1, 2) #index 1번에 2라는 데이터 넣기. 
print (x)

[1, 2, 3, 5, 7, 9, 11, 13]

In [22]:
# 데이터 삭제.
x.remove(11) #인덱스가 아닌 데이터 값을 지정해줘야 한다. 아니면 에러. 
print (x)
#x.remove(11) #위에서 지웠기 때문에 에러가 발생한다. ValueError

[1, 2, 3, 5, 7, 9, 13]

In [25]:
# 지정된 인덱스 값에 있는 데이터 제거.
x.pop(1) #1번 인덱스 값 제거. 
print(x) #사라진 2.

[1, 3, 5, 7, 9, 13]

In [28]:
# 지정한 데이터 인덱스 값 리턴. 
x = ['abc', 'def', 'ghi']
print(x.index('ghi')) #인덱스 값 리턴
# print(x.index('xyz'))  ValueError. 없는건 못찾는다.

2

In [29]:
# 지정한 매개변수가 list내에 있는 갯수 반환.
x = [1, 100, 2, 200, 3, 300, 4, 100]
print (x.count(100))

2

In [30]:
# 정렬
x = [7, 5, 8, 3, 2, 1, 4, 6]
x.sort()
print(x) #리턴만 해주는게 아니라 원래 데이터도 정렬해준다.

[1, 2, 3, 4, 5, 6, 7, 8]

In [31]:
# 정렬 순서.
x.sort(reverse=True)
print(x)

[8, 7, 6, 5, 4, 3, 2, 1]

In [32]:
# 앞뒤를 바꾸는 정렬. 
x = [7, 5, 8, 3, 2, 1, 4, 6]
x.reverse()
print(x)

[6, 4, 1, 2, 3, 8, 5, 7]

# 튜플(Tuple)

In [34]:
x = (1, 2, 3)
print(x)
type(x)

(1, 2, 3)

tuple

In [36]:
x = 1, 2, 3, 4 #소괄호가 없어도 튜플로 반환한다.
print(x)
type(x)

(1, 2, 3, 4)

tuple

In [40]:
x = (1)
print(x) #튜플의 결과는 소괄호와 같이 나와야 하는데 int형태로 출력된다.
type(x) #소괄호를 열고 닫는다고 해서 튜플이 되는것은 아니다.

1

int

In [41]:
x = (1,)
print(x) 
type(x)

(1,)

tuple

In [48]:
x = (1, 2, 3, 4, 5, 6)
print(x[2:5]) #슬라이싱.
print(x[ :2])
print(x[4: ])
print(x[4])

(3, 4, 5)
(1, 2)
(5, 6)
5

In [49]:
# + 연산자를 통한 튜플간의 결합이 가능. 
m = (1, 2, 3)
n = (4, 5, 6)

m + n

(1, 2, 3, 4, 5, 6)

In [50]:
print(m[1]) 
m[1] = 20 #TypeError.TypeError: 'tuple' object does not support item assignment
#한번 데이터가 저장되면 수정이 불가능하다.

2

TypeError: 'tuple' object does not support item assignment

In [51]:
m = (1,2,3)
m.append(4) #AttributeError. AttributeError: 'tuple' object has no attribute 'append'
#매서드가 없다 => 튜플은 값을 변경할 수 없기 때문에.

AttributeError: 'tuple' object has no attribute 'append'

### 튜플 제공 매서드

In [57]:
x = ('abc', 'def', 'ghi')
print(x.index('ghi'))

2

In [56]:
x = (1, 100, 2, 200, 3, 300, 4, 100)
print (x.count(100))

2

In [58]:
# 튜플 패킹(tuple packing) :  여러가지 데이터를 튜플로 묶는 것. 
x = 1,2,3
print (x)

(1, 2, 3)

In [61]:
# 튜플 언패킹(tuple unpacking) : 각 요소를 여러개의 변수에 할당하는 것. 
data = 'Seoul', 37.541, 126.986 #지역/경도/위도
city, latitude, longitude = data
print(city)
print(latitude)
print(longitude)

Seoul
37.541
126.986

## 딕셔너리 (dictionary)

In [63]:
dic = {'애플' : 'www.apple.com', '네이버' : 'www.naver.com', '파이썬' : 'www.python.org'}
print(dic)
type(dic)

{'애플': 'www.apple.com', '네이버': 'www.naver.com', '파이썬': 'www.python.org'}

dict

In [66]:
#데이터 접근 방법

print(dic['네이버']) #key값으로 접근. 이때 대괄호로 접근한다. 
# print(dic[':'])  KeyError. 슬라이싱은 미지원(리스트와 튜플만 지원)

www.naver.com

In [68]:
#데이터 삽입
dic2 = {} #변수를 선언하면서 자료형만 초기화 해줌.
print(type(dic2))

dic2['애플'] = 'www.apple.com' 
#데이터 삽입. key값은 변수 뒤에 대괄호 안에 넣고, value는 = 을 한 뒤에 넣기. 
dic2['네이버'] = 'www.naver.com'
dic2['파이썬'] = 'www.python.org'

print(dic2)

<class 'dict'>
{'애플': 'www.apple.com', '네이버': 'www.naver.com', '파이썬': 'www.python.org'}

### - 딕셔너리 제공 메서드

In [72]:
#키 값만 출력. 
print(dic.keys()) #이때, 반환은 list.

dict_keys(['애플', '네이버', '파이썬'])

In [73]:
#value값만 출력

print(dic.values()) #이때, 반환은 list

dict_values(['www.apple.com', 'www.naver.com', 'www.python.org'])

In [74]:
#key, vlaue값 한번에 보기
print(dic.items())

dict_items([('애플', 'www.apple.com'), ('네이버', 'www.naver.com'), ('파이썬', 'www.python.org')])

In [77]:
#in 연산자. -> 검색용도
print('애플' in dic.keys()) #검색해서 있으면 T, 없으면 F로 반환된다. 
print('다음' in dic.keys())

True
False

In [78]:
#in 연산자.
print('www.naver.com' in dic.values())

True

In [79]:
#데이터 제거
print(dic.pop('애플')) #꺼내는 메서드 pop. 제거 후 내 안에 다시 넣기. 
#이때, key값으로 넣어야 삭제가 제대로 된다. 그리고 리턴만 되는거 아니고 찐삭제. 
print(dic)

www.apple.com
{'네이버': 'www.naver.com', '파이썬': 'www.python.org'}

In [80]:
#데이터 전체 삭제
dic.clear()
print(dic)

{}