# chap01
## python 기본 문법
### - 출력문

print("hello python!") # 이것이 주석입니다.

print("hello world!!!!" + "Happy Python.")
print("hello world!!!!" , "Happy Python.")

### -연산 기능 (+ , -, *, /)

3+2

print(3.14)
print("3.14")

print(1, 3.14, "안녕하세요.")

### - 변수

#### 변수 : 데이터를 보관하는 메모리 공간.

##### 자바 : int, double, char, boolean, String. (의미 1.자바 메모리 할당 요청어들 의미 2. 메모리에 담을 수 있는 데이터 타입에 대한 정보. 
#####                                                                      의미 3. 메모리의 크기. (뒤에 오는 갯수만큼 메모리를 할당함. String 의 사용은 new를 사용.))
##### int num = 100; // num이라는 변수에 int 형태의 100이라는 숫자를 넣는다. 
##### sysout (num); //num에 저장된 값을 불러온다. 
##### 변수에 하나의 값만 넣을수 있으나, 변수에 담긴 값은 또 바뀔수 있다. 

##### python에서도 데이터를 보관하기 위해서 메모리 할당을 요청하는 제공을 하고 있으나, 데이터 타입이 없다. R과 같다.

###### 알파벳과 숫자의 조합으로 변수만 지정해서 넣는다. 자바는 _ 와  $를 변수의 이름으로 사용할 수 있었고, R에서는 _와 .을 사용할 수 있었다.
###### 5라는 숫자를 보면 일단 냅다 메모리를 만든뒤, a라는 이름을 붙인다. 그리고 이 데이터도 객체로 처리한다. 
###### (=클래스로 처리한다.래퍼 클래스. 기본 자료형을 클래스로 감싸고 있다. a = new integer(5);)
###### integer a = 5; 
###### python에서는 ; (세미콜론)을 쓰지 않는다.

In [1]:
a = 5  
b = 10

In [2]:
a + b

15

In [3]:
# int num1 = 10, num2 = 20;
x = 10, y = 20
print (x, y)

SyntaxError: can't assign to literal (1725923074.py, line 2)

In [ ]:
x = 10; y = 20
print (x, y)

In [ ]:
x, y = 365, 272
print (x, y)

In [ ]:
x, y = y, x
print(x,y)

# 변수명 규칙
### - 문자, 숫자 _ 만 가능. 단, 숫자로 시작할 수 는 없다. 
### - 대/소문자를 구별한다. (NUM /= num)
### - 예약어 (키워드) 사용 불가능.

In [ ]:
#변수 (정수)
a = 123456789
print (a)

In [ ]:
b="홍길동"
a #print(a)
b #print(b)
print (type(a))
print (type(b))

In [ ]:
print (type(3.14)) #float
print (type( 5 + 3j)) #complex
print (type(True)) #bool. 이때 R과 java와 다르게 전체 대문자가 아닌 첫글자만 대문자를 사용한다.

## 연산자 (+, -, *, /, %(나머지), // , * *)

In [ ]:
a = 3+4
print (a)

In [ ]:
a = 3-4
print (a)

In [ ]:
a = 3*4
print (a)

In [ ]:
a = 3/4 #나누기의 값은 실수값으로 반환
print (a)
print (type(a))

In [ ]:
a = 3%4
print (a)
print (type(a))

In [ ]:
a = 33//4 #몫 반환 연산자. 
print (a)
print (type(a))

In [ ]:
a = 2 ** 4 #2의 4승. 2^4
print (a)
print (type(a))

In [5]:
x = 12345678912345678912345678912345678912304567890
print (x)

12345678912345678912345678912345678912304567890

## - 헥스코드

In [6]:
print(hex(255))
print(hex(14))

0xff
0xe

In [7]:
a = 0b1010
print (a)

10

In [8]:
x = 43.2 - 43.1
print (x)

0.10000000000000142

## 문자열

In [9]:
a = "Hello, Python"
print(a)

Hello, Python

In [10]:
a = 'hello, Python' #큰따옴표 작은따옴표 구별 X. 교차는 안된다. 
print(a)

hello, Python

In [11]:
str = """
내일 하나 그러나 벌레는 밤이 오는 잠, 이웃 거외다. 이국 많은 걱정도 둘 마리아 봅니다.

아름다운 불러 어머님, 쓸쓸함과 덮어 별 많은 버리었습니다. 없이 멀리 릴케 까닭입니다. 
소녀들의 오면 봄이 봅니다. 하나에 차 패, 풀이 가을로 노새, 새워 불러 책상을 거외다.
"""

In [12]:
int = 5
print(int) #int같은 이름을 변수 이름으로 사용이 가능하나, 권장하지는 않는다. 헷갈림.

5

In [14]:
print("Py" + "thon")
print("Py" , "thon")
print("Py""thon")

Python
Py thon
Python

In [15]:
hello = "Hello."
world = "World!!!"
helloWorld = hello + world
print(helloWorld)

Hello.World!!!

In [16]:
age = 25
str = "안녕하세요" 
print(str + age) #문자열+숫자 -> 허용하지 않는다.

TypeError: can only concatenate str (not "int") to str

In [17]:
print('python ' * 3) #문자열 반복

python python python

In [19]:
s = 'Good Morning'
print (s[0:6]) #R에서의 c함수 (combine함수) 같은 느낌. 근데 R은 시작값이 1이었고 얘는 0.
print (s[5:12])

Good M
Morning

In [20]:
a = s[:4] # a = s[0:4]
print (a)

Good

In [23]:
a = s[5: ] # a = s[5:12]
print (a)

Morning

In [24]:
a = s[-3:] # a = s[10:12]
print (a)

ing

In [25]:
a = s[::2] #첫 콜론은 시작, 두번째 클론은 끝, 마지막 클론은 건너뛰는 수. 
print (a) #두칸씩 카운팅 한 값이 출력된다.

Go onn

In [26]:
a = s[2] #특정 인덱스 위치 문자 변환. 파이썬의 index는 0부터.
print (a)

o

In [28]:
print('M' in s) #s 라는 문자열 안에 'M'이 있는지 검색해준다. 반환값은 T/F
print('a' in s)
print('Good' in s)
print('morning' in s) #대소문자도 구별해줌.

True
False
True
False

In [29]:
print(len(s)) #문자열 길이 재준다. 파이썬은 length가 아니고 len

12

In [31]:
#str = 'how do you do. how do you do'
#str.count('do')
'how do you do. how do you do'.count('do')

4